<template>
  <v-row justify="center">
    <v-dialog
      v-model="isVisible"
      max-width="290"
    >
      <v-card>
        <v-container>
          <v-row justify="center">
            <v-card-text align="center">
              <v-progress-circular
                :width="3"
                size="70"
                color="red"
                indeterminate
              ></v-progress-circular>
            </v-card-text>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
      data:()=> ({

      }),
      props:{
          isVisible: Boolean
      }

  }
</script>
