<template>
  <div class="text-center ma-2">
    <v-snackbar
      v-model="isOpen"
      :color="color"
      :timeout="duration"
    >
      {{data}}

    </v-snackbar>
  </div>
</template>
<script>
    export default {
        data: () => ({
        }),
        props:{
            color: String,
            isOpen: Boolean,
            duration: Number,
            data : String,

        }
    }
</script>

<style scoped>

</style>
