<template>
  <v-card
    class="pa-6 mx-auto"
    width="900"
    elevation="12"
  >
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    max-width="400"
    v-on:submit.prevent
  >
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      :counter="10"
      :rules="nameRules"
      label="Password"
      required
    ></v-text-field>
    <v-alert v-if="isError"
      type="error"
      dismissible
    >
     {{isError.errorMessage}}
    </v-alert>
    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate"
    >
      Register
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>
  </v-form>
    <Loader :is-visible="test" />
    <Notification
      :is-open="true"
      data='testsnack'
    />
  </v-card>


</template>
<script>
    import Loader from '../components/Loader';
    import Notification from '../components/Notification';
    import {mapGetters} from "vuex";

    export default {
        name:'register',
        components: {
            Notification,
            Loader,
        },
        data: () => ({
            valid: true,
            password: '',
            nameRules: [
                v => !!v || 'Password is required',
                v => (v && v.length <= 10) || 'Name must be less than 8 characters',
            ],
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
        }),

        methods: {
            validate () {
                if (this.$refs.form.validate()) {
                  this.$store.dispatch('SignUp',{email:this.email,password:this.password})
                    console.log(this.email,this.password)
                }
            },
            reset () {
                this.$refs.form.reset()
            },
            resetValidation () {
                this.$refs.form.resetValidation()
            },
        },

        computed :{
            ...mapGetters['userProblem'],
            zebi(){
                return this.userProblem
            },
            isError(){
                return this.$store.getters.registerErrorGetters
            },
            test(){
                console.log('dans test => ',this.$store.getters.isLoadingGetters)
               return this.$store.getters.isLoadingGetters
            }
        }
    }
</script>

<style scoped>

</style>
