<template>
  <v-app class="padding">
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>RESSOURCES</span>
        <span class="font-weight-light"> HUMAINES</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',
  components: {
    HelloWorld,
  },
  data: () => ({
    //
  }),
};
</script>
<style>
  .padding{
    padding-top: 40px;
  }
</style>
